{
  "openapi": "3.0.1",
  "info": {
    "title": "PRO RESTful APIs",
    "description": "RESTful APIs for Protein Ontology",
    "version": "1.0.0",
    "termsOfService": "https://proconsortium.org/pirwww/about/linkpir.shtml",
    "contact": {
      "name": "API Support",
      "url": "https://github.com/PROconsortium"
    },
    "license": {
      "name": "License - CC BY 4.0",
      "url": "http://creativecommons.org/licenses/by/4.0/"
    }
  },
  "servers": [
    {
      "url": "https://research.bioinformatics.udel.edu/PRO_API/V1",
      "description": "Main (production) server"
    }
  ],
  "paths": {
    "/pros": {
      "get": {
        "tags": [
          "PRO Terms"
        ],
        "operationId": "getPROTerms",
        "summary": "Search PRO terms.",
        "description": "Gets a list of PRO terms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "400": {
            "description": "status=Bad Reqeust. The specified PRO ID is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. A PRO term with the specified ID was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pros/{proIds}": {
      "get": {
        "tags": [
          "PRO Terms"
        ],
        "operationId": "getPROTermByIDs",
        "summary": "Return PRO terms by IDs.",
        "description": "Gets PRO terms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idsParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a PRO term.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PROTerm"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PROTerm"
                }
              }
            }
          },
          "400": {
            "description": "status=Bad Reqeust. The specified PRO ID is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. A PRO term with the specified ID was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/modification": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getModifiedForms",
        "summary": "Returns a list of modified protein forms.",
        "description": "Gets a list of modified protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No modified protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/modification/phosphorylated": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getPhosphorylatedForms",
        "summary": "Returns a list of phosphorylated protein forms.",
        "description": "Gets a list of phosphorylated protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No phosphorylated protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/modification/methylated": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getMethylatedForms",
        "summary": "Returns a list of methylated protein forms.",
        "description": "Gets a list of methylated protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No methylated protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/modification/acetylated": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getAcetylatedForms",
        "summary": "Returns a list of acetylated protein forms.",
        "description": "Gets a list of acetylated protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No acetylated protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/modification/ubiquitinated": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getUbiquitinatedForms",
        "summary": "Returns a list of ubiquitinated protein forms.",
        "description": "Gets a list of ubiquitinated protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No ubiquitinated protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/modification/glycosylated": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getGlycosylatedForms",
        "summary": "Returns a list of glycosylated protein forms.",
        "description": "Gets a list of glycosylated protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No glycosylated protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/orthoisoform": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getOrthoIsoForms",
        "summary": "Returns a list of ortho-isoform protein forms.",
        "description": "Gets a list of ortho-isoform protien forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No ortho-isoform protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/orthomodform": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getOrthoModForms",
        "summary": "Returns a list of ortho-modform protein forms.",
        "description": "Gets a list of ortho-modform protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No ortho-modform protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/sequence": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getSequenceLevelProteoforms",
        "summary": "Returns a list of sequence level protein forms.",
        "description": "Gets a list of sequence level protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No sequence protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proforms/organism-sequence": {
      "get": {
        "tags": [
          "Proteoform Terms"
        ],
        "operationId": "getOrganismSequenceLevelProteoforms",
        "summary": "Returns a list of organism-sequence level protein forms.",
        "description": "Gets a list of organism-sequence level protein forms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No organism-sequence protein form was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proevos/family": {
      "get": {
        "tags": [
          "Protein Evolutionary Terms"
        ],
        "operationId": "getFamilyLevelEvolutionaryTerms",
        "summary": "Returns a list of family level protein terms.",
        "description": "Gets a list of family level protein terms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No family protein term was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proevos/gene": {
      "get": {
        "tags": [
          "Protein Evolutionary Terms"
        ],
        "operationId": "getGeneLevelEvolutionaryTerms",
        "summary": "Returns a list of gene level protein terms.",
        "description": "Gets a list of gene level protein terms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No gene level protein term was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/proevos/organism-gene": {
      "get": {
        "tags": [
          "Protein Evolutionary Terms"
        ],
        "operationId": "getOrganismGeneLevelEvolutionaryTerms",
        "summary": "Returns a list of organism-gene level protein terms.",
        "description": "Gets a list of organism-gene level protein terms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No organism-gene level protein term was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/procomps/organism-specific": {
      "get": {
        "tags": [
          "Protein Complex Terms"
        ],
        "operationId": "getSpeciesSpecificComplexTerms",
        "summary": "Returns a list of organism specific protein complex terms.",
        "description": "Gets a list of organism specific protein complex terms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No organism specific protein complex term was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/procomps/": {
      "get": {
        "tags": [
          "Protein Complex Terms"
        ],
        "operationId": "getSpeciesNonSpecificComplexTerms",
        "summary": "Returns a list of organism non-specific protein complex terms.",
        "description": "Gets a list of organism non-specific protein complex terms and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No organism non-specific protein complex term was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/EcoCyc_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithEcoCyCId",
        "summary": "Returns a list of PRO terms with EcoCyC ID as cross-reference.",
        "description": "Gets a list of PRO terms with EcoCyC ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "in": "query",
            "name": "showEcoCycID",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with EcoCyC ID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/HGNC_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithHGNCId",
        "summary": "Returns a list of PRO terms with HGNC ID as cross-reference.",
        "description": "Gets a list of PRO terms with HGNC ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "in": "query",
            "name": "showHGNCID",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with HGNC ID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/MGI_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithMGIId",
        "summary": "Returns a list of PRO terms with MGI ID as cross-reference.",
        "description": "Gets a list of PRO terms with MGI ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "in": "query",
            "name": "showMGIID",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with MGI ID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/Ontology_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithOntologyId",
        "summary": "Returns a list of PRO terms with Ontology ID as cross-reference.",
        "description": "Gets a list of PRO terms with Ontology ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "in": "query",
            "name": "showAnnotation",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with Ontology ID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/PANTHER_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithPANTHERId",
        "summary": "Returns a list of PRO terms with PANTHER ID as cross-reference.",
        "description": "Gets a list of PRO terms with PANTHER ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "in": "query",
            "name": "showPANTHERID",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with PANTHER ID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/PIRSF_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithPIRSFId",
        "summary": "Returns a list of PRO terms with PIRSF ID as cross-reference.",
        "description": "Gets a list of PRO terms with PIRSF ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "in": "query",
            "name": "showPIRSFID",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with PIRSF ID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/PMID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithPMID",
        "summary": "Returns a list of PRO terms with PMID as cross-reference.",
        "description": "Gets a list of PRO terms with PMID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "in": "query",
            "name": "showPMID",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showSynonymParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. A list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with PMID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/Reactome_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithReactomeID",
        "summary": "Returns a list of PRO terms with Reactome ID as cross-reference.",
        "description": "Gets a list of PRO terms with Reactome ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "in": "query",
            "name": "showReactomeID",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnnotationParam"
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with Reactome ID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/NCBITaxon_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithNCBITaxonID",
        "summary": "Returns a list of PRO terms with NCBI Taxon ID as cross-reference.",
        "description": "Gets a list of PRO terms with NCBI Taxon ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
            "$ref": "#/components/parameters/showPRONameParam"
          },
          {
            "$ref": "#/components/parameters/showPROTermDefinitionParam"
          },
          {
            "$ref": "#/components/parameters/showCategoryParam"
          },
          {
            "$ref": "#/components/parameters/showParentParam"
          },
          {
            "in": "query",
            "name": "showAnnotation",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "$ref": "#/components/parameters/showAnyRelationshipParam"
          },
          {
            "$ref": "#/components/parameters/showChildParam"
          },
          {
            "$ref": "#/components/parameters/showCommentParam"
          },
          {
            "$ref": "#/components/parameters/showEcocycIDParam"
          },
          {
            "$ref": "#/components/parameters/showGeneNameParam"
          },
          {
            "$ref": "#/components/parameters/showHGNCIDParam"
          },
          {
            "$ref": "#/components/parameters/showMGIIDParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoIsoformParam"
          },
          {
            "$ref": "#/components/parameters/showOrthoModifiedFormParam"
          },
          {
            "$ref": "#/components/parameters/showPANTHERIDParam"
          },
          {
            "$ref": "#/components/parameters/showPIRSFIDParam"
          },
          {
            "$ref": "#/components/parameters/showPMIDParam"
          },
          {
            "$ref": "#/components/parameters/showReactomeIDParam"
          },
          {
            "$ref": "#/components/parameters/showUniProtKBIDParam"
          },
          {
            "$ref": "#/components/parameters/offsetParam"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "description": "status=OK. Returns a list of PRO terms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PROTerm"
                  }
                }
              }
            }
          },
          "404": {
            "description": "status=Not Found. No PRO term with NCBI Taxon ID cross-reference was found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "status=Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dbxrefs/UniProtKB_ID": {
      "get": {
        "tags": [
          "Database Cross-references"
        ],
        "operationId": "getPROTermsWithUniProtKBID",
        "summary": "Returns a list of PRO terms with UniProtKB ID as cross-reference.",
        "description": "Gets a list of PRO terms with UniProtKB ID as cross-reference and associated information.",
        "parameters": [
          {
            "$ref": "#/components/parameters/searchFieldParam"
          },
          {
            "$ref": "#/components/parameters/searchParam"
          },
          {
[...]
